{% extends 'base.html.twig' %}

{% block title %}Formulaire index{% endblock %}

{% block body %}
    {# ======================== Sidebar ========================== #}
    <sidebar class="bg-cyan-950 fixed left-0 top-0 h-screen rounded-tr-3xl">
        <div class="flex flex-col items-center w-[20vw]">

            {# ===== LOGO ====== #}
            <a href="{{ path('app_accueil') }}">

                <img src="{{ asset('img/logo_clair.png') }}" alt="logo" class="w-[15vw] mt-8">
            </a>

            <div class="w-[60%] mx-auto h-[2px] bg-slate-50 rounded-xl my-10"></div>

            <div class="flex flex-col items-center gap-3 pt-4 font-semibold text-[1.5vh] lg:text-[2vh]">

                <a href="{{ path('app_accueil_admin') }}" class="text-slate-50 text-center hover:bg-sky-800 mb-5 px-2 py-1 rounded-lg w-full">Gestion formulaire</a>
                <a href="{{ path('app_user_index') }}" class="text-slate-50 text-center hover:bg-sky-800 mb-5 px-2 py-1 rounded-lg w-full h-auto">Gestion utilisateurs</a>

                <a href="{{ path('app_logout') }}"  class="flex flex-col text-center transition-all hover:scale-105 p-6 text-slate-50">
                    <p class="font-semibold">Se déconnecter</p>
                    <i class="fa-solid fa-right-to-bracket text-slate-50 text-2xl text-center font-semibold"></i>
                </a>
            </div>
        </div>
    </sidebar>

    {# ==================== Content ======================= #}
    <content>
        <div class="ml-[20vw] bg-sky-200 min-h-screen">

            <div class="flex flex-col p-4 justify-center items-center bg-slate-50">

                <h1 class="text-3xl font-semibold text-center">Administration</h1>

            </div>

            <div class="flex flex-col p-4 mt-4 justify-center items-center">

                {# ======================= Barre de recherche ======================#}
                <form action="#" method="get" class="p-4 w-[90%] flex">
                    <input type="text" id="search" name="search" value="{{ searchTerm }}" class="w-[90%] text-slate-900 px-2 rounded-l-lg" placeholder="Rechercher un utilisateur ...">
                    <button type="submit" class="bg-sky-800 w-[10%] text-center py-2 hover:brightness-125 rounded-r-lg text-sky-50 transition-all hover:scale-110"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>

                <a href="{{ path('app_register') }}" class="text-slate-50 text-xl text-center bg-sky-800 mb-5 px-4 py-3 font-bold rounded-lg w-[90%]">Nouvel utilisateur</a>

                <div class="text-slate-950 font-bold text-xl mb-5">{{ knp_pagination_render(users) }}</div>

                <table class="w-full">
                    <tbody>
                    {% for user in users %}
                        <tr class="border-2 border-slate-900">
                            <td class="border-2 border-slate-900 w-[5%] text-center font-semibold text-2xl {{user.roles|join(', ') is same as 'ROLE_ADMIN, ROLE_ACTIF, ROLE_USER' ? 'bg-sky-800' : (user.roles|join(', ') is same as 'ROLE_ACTIF, ROLE_USER' ? 'bg-green-600' : 'bg-red-400')}}"></td>
                            <td class="border-2 border-slate-900 w-[65%] bg-slate-50 text-center font-semibold">{{ user.username }}</td>

                            <td class="border-2 border-slate-900 bg-slate-950 flex flex-col items-center">

                                <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="bg-yellow-400 text-center px-3  hover:brightness-125 rounded-lg font-semibold">Modifier</a>
                                <a href="{{ path('app_userPassword_edit', {'id': user.id}) }}" class="text-slate-100 text-center px-3  hover:brightness-125 hover:text-orange-400 rounded-lg font-semibold">Changer mot de passe</a>
                                <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet utilisateur ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                    <button class="btn text-red-700  text-center px-3  hover:brightness-125 rounded-lg font-semibold">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr class="border-2 border-slate-900 bg-slate-50 text-2xl text-center">
                            <td colspan="3">Aucun utilisateur ne correspond à votre recherche ...</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>                
            </div>
        </div>
    </content>
{% endblock %}
